@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #fff;
    background-color: black;
    font-family: 'Rubik', sans-serif;
}
